@font-face {
    font-family: 'MyCustomFont';
    src: url('/fonts/GeistMonoVf.woff') format('woff'),
        url('/fonts/GeistVF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}